input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 24px;
  height: 24px;
  background: transparent;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  -moz-appearance: none;
  width: 24px;
  height: 24px;
  background: transparent;
  border: none;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  background: transparent;
  height: 24px;
}

input[type="range"]::-moz-range-track {
  -moz-appearance: none;
  background: transparent;
  height: 24px;
} 